body {
    margin: 0;
}

.mar {
    width: 100%;
    background-color: blue;
    color: white;
}

#lblmain {
    margin-top: 50px;
    font-size: 37px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
}

#lblsec {
    text-align: left;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
}

#lblcap {
    text-align: left;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
}

#txtsec {
    margin-bottom: 60px;    
}

#txtcap {
    margin-bottom: 60px;
}